<h1>Listing estimates</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Repair</th>
    <th>Vehicle</th>
    <th>Labor hrs</th>
    <th>Labor cost</th>
    <th>Parts cost</th>
    <th>Duration</th>
    <th>Second parts cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estimates.each do |estimate| %>
  <tr>
    <td><%= estimate.id %></td>
    <td><%= estimate.repair_id %></td>
    <td><%= estimate.vehicle_id %></td>
    <td><%= estimate.labor_hrs %></td>
    <td><%= estimate.labor_cost %></td>
    <td><%= estimate.parts_cost %></td>
    <td><%= estimate.duration %></td>
    <td><%= estimate.second_parts_cost %></td>
    <td><%= link_to 'Show', estimate %></td>
    <td><%= link_to 'Edit', edit_estimate_path(estimate) %></td>
    <td><%= link_to 'Destroy', estimate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estimate', new_estimate_path %>
