<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @problem.id %>
</p>

<p>
  <b>Name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @problem.priority %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
